{% extends 'base.html' %}
{% load static %}
{% block body_class %}page-body{% endblock %}
{% block content %}
    <h3>Hoja de Historia Clínica</h3>
    {#    <h4>File No : </h4>#}
    {#    {% ifequal type 6 %}#}
    {#        <ul>#}
    {#            <li>#}
    {#                <div id="edit" class="btn warning" style="display:inline-block">Edit</div>#}
    {#            </li>#}
    {#            <li><input id="submit" type="submit" class="btn success" style="dislay:inline-block" disabled></li>#}
    {#        </ul>#}
    {#    {% endifequal %}#}

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary" data-collapsed="0">

{#                <div class="panel-heading">#}
{#                    <div class="panel-title">#}
{#                        Default Form Inputs#}
{#                    </div>#}
{##}
{#                    <div class="panel-options">#}
{#                        <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i#}
{#                                class="entypo-cog"></i></a>#}
{#                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>#}
{#                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>#}
{#                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>#}
{#                    </div>#}
{#                </div>#}

                <div class="panel-body">

                    <form role="form" class="form-horizontal form-groups-bordered">

                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Nombre</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="nombre" placeholder="{{ patient.user.first_name }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-2" class="col-sm-3 control-label">Apellidos</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-2" placeholder="{{ patient.user.last_name }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-3" class="col-sm-3 control-label">Nombre del Padre</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ patient.father_name }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-3" class="col-sm-3 control-label">Médico a cargo</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.attending_physician.user.first_name }} {{ sheet.attending_physician.user.last_name }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Fecha de Admisión</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.medical_file.date_of_addmition }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Sala</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.medical_file.room }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Cama</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.medical_file.bed }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Jefe de sala</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.chief_complain }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Historial de enfermedades presentes</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.history_of_present_illness }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Historial de enfermedades</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.pass_diseases_history }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Tratamiento con narcóticos o historia de uso de sustancias alucinógenas</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.current_drug_theraphy_and_other_addiction }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Alergias</label>

                            <div class="col-sm-5">
                                <textarea type="text" class="form-control" id="field-3"
                                          placeholder="{{ sheet.allergy_to }}" disabled></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Diagnóstico Primario</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.primary_dx }}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="field-ta" class="col-sm-3 control-label">Médico</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="field-3"
                                       placeholder="{{ sheet.attending_physician.user.first_name }} {{ sheet.attending_physician.user.last_name }}" disabled>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>

{% endblock %}
