{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="module" id="profile">

        <div class="profile-env">

            <header class="row">

                <div class="col-sm-2">

                    <a href="#" class="profile-picture">
                        <img src="assets/images/profile-picture.png" class="img-responsive img-circle"/>
                        {% if patient.photo %}
                            <img src="{{ patient.photo.url }}" class="img-responsive img-circle">
                        {% else %}
                            <img src="{% static 'congruent_pentagon.png' %}" class="img-responsive img-circle">
                        {% endif %}
                    </a>

                </div>

                <div class="col-sm-7">

                    <ul class="profile-info-sections">
                        <li>
                            <div class="profile-name">
                                <strong>
                                    <a href="#">{{ patient.user.get_full_name }}</a>
                                    <a href="#" class="user-status is-online tooltip-primary" data-toggle="tooltip"
                                       data-placement="top" data-original-title="Online"></a>
                                    <!-- User statuses available classes "is-online", "is-offline", "is-idle", "is-busy" -->
                                </strong>
                                <span><a href="#">D.N.I:&nbsp;{{ patient.ssn }}</a></span>
                            </div>
                        </li>

                    </ul>

                </div>

                <div class="col-sm-3">

                    <div class="profile-buttons">
                        <a href="#" class="btn btn-default">
                            <i class="entypo-mail"></i>
                        </a>
                    </div>
                </div>

            </header>

            <section class="profile-info-tabs">

                <div class="row">

                    <div class="col-sm-offset-2 col-sm-10">

                        <ul class="user-details">
                            <li>
                                <a href="#">
                                    <i class="entypo-location"></i>
                                    {{ patient.get_address_as_string }}
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="entypo-suitcase"></i>
                                    <span>{{ patient.occupation }}</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="entypo-calendar"></i>
                                    {{ patient.age }}&nbsp;años
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

            </section>
        </div>
    </div>
    <div class="container">
        <!-- tabs for the profile links -->
        <ul class="nav nav-tabs bordered">
            <li class="active"><a href="#citas" data-toogle="tab">Citas</a></li>
            <li class=""><a href="#calendario" data-toogle="tab">Calendario</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="citas">
                <section id="" class="profile-feed">

                    {% if sch.event %}
                        <p> Cita : {{ sch.event }} </p>
                        <p> Fecha : {{ sch.event_date }} </p>
                        <p> Hora : {{ sch.event_time }} </p>
                        <p> Sector : {{ sch.related_division }} </p>
                        <p> Descripción : {{ sch.description }} </p>
                    {% else %}
                        <p>No tiene ninguna cita pendiente.</p>
                    {% endif %}
                    <br>
                    <div class="calendar-env">

                        <!-- Calendar Body -->
                        <div class="calendar-body">

                            <div id="calendar"></div>


                        </div>

                        <!-- Sidebar -->
                        <div class="calendar-sidebar">

                            <!-- new task form -->
                            <div class="calendar-sidebar-row">

                                <form role="form" id="add_event_form">

                                    <div class="input-group minimal">
                                        <input type="text" class="form-control" placeholder="Add event..."/>

                                        <div class="input-group-addon">
                                            <i class="entypo-pencil"></i>
                                        </div>
                                    </div>

                                </form>

                            </div>


                            <!-- Events List -->
                            <ul class="events-list" id="draggable_events">
                                <li>
                                    <p>Drag Events to Calendar Dates</p>
                                </li>
                                <li>
                                    <a href="#">Gastroenterologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-blue" data-event-class="color-blue">Cardiologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-orange" data-event-class="color-orange">Urologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-primary" data-event-class="color-primary">Reumatologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-green" data-event-class="color-green">Otorrinolaringolo</a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </section>
            </div>
            <div class="tab-pane" id="calendario">
                <section id="" class="biography">
                    <div class="calendar-env">

                        <!-- Calendar Body -->
                        <div class="calendar-body">

                            <div id="calendar"></div>


                        </div>

                        <!-- Sidebar -->
                        <div class="calendar-sidebar">

                            <!-- new task form -->
                            <div class="calendar-sidebar-row">

                                <form role="form" id="add_event_form">

                                    <div class="input-group minimal">
                                        <input type="text" class="form-control" placeholder="Add event..."/>

                                        <div class="input-group-addon">
                                            <i class="entypo-pencil"></i>
                                        </div>
                                    </div>

                                </form>

                            </div>


                            <!-- Events List -->
                            <ul class="events-list" id="draggable_events">
                                <li>
                                    <p>Drag Events to Calendar Dates</p>
                                </li>
                                <li>
                                    <a href="#">Gastroenterologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-blue" data-event-class="color-blue">Cardiologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-orange" data-event-class="color-orange">Urologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-primary" data-event-class="color-primary">Reumatologo</a>
                                </li>
                                <li>
                                    <a href="#" class="color-green" data-event-class="color-green">Otorrinolaringolo</a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </section>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <!-- Imported scripts on this page -->
    <script src="{% static 'assets/js/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'assets/js/neon-calendar.js' %}"></script>
    <script src="{% static 'assets/js/neon-chat.js' %}"></script>
{% endblock %}