<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
<head>
	<title>Hospital Albretch | LOGIN</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="header">
	<ul>
		<li class="brand"><img src="{% static 'logo.png' %}"></li>
		<a href="{% url 'systemhomepage' %}"><li>Home</li></a>
{#		<a href="{% url 'phar_app:login' %}"><li>Pharmacy</li></a>#}
		<a href="#"><li>Hospitales</li></a>
		<a href="#"><li>Contacto</li></a>
		<a href="#"><li>Sobre Nosotros</li></a>
	</ul>
</div>
	<div>
		<form name="login-form" action="/login_all/" method="POST">
			{% csrf_token %}
			<legend class="text-center" style="text-align: center !important;">Login</legend>
			<p class="fade">Ingrese sus credenciales</p>
			<p><input   name="username" type="text" id="username"  placeholder="Username"></p>
			<p><input   name="password" type="password" id="password"  placeholder="Password"></p>
			<p><input type="submit" name="submit" class="btn warning " value="Aceptar"></p>
            <p class="error">{{ error}}</p>
            <p class="fade">Crear nueva cuenta como:</p>
            <a class="" href="{% url 'doc_app:doc_register' %}">Médico</a>
            <br>
            <strong>ó</strong>
            <br>
            <a class="" href="{% url 'patient_app:patient_register' %}">Paciente</a>

		</form>
	</div>
	<div class="pattern"></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
	$('input.btn').hoverIntent(function(){
		$(this).animate({"border-radius": "+=30px"},300);
	},function(){$(this).animate({"border-radius": "-=30px"},300);});
</script>
</body>
</html>